<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Название команды">
        <input type="text" name="country" placeholder="Страна">
        <input type="text" name="driver1" placeholder="Первый пилот">
        <input type="text" name="driver2" placeholder="Второй пилот">
        <input type="text" name="car" placeholder="Болид">
        <button type="submit">Отправить</button>
    </form>
</body>

</html>